.card {
  margin: 15px;
  width: 190px;
  height: 254px;
  cursor: pointer;
  /* border-radius: 30px; */
  /* background: #e0e0e0; */
  /* box-shadow: -15px -15px -30px #bebebe,
    -15px -15px -30px #ffffff; */
}


.name {
  text-align: center;
  background-color: var(--colorFondo2);
  height: 25px;
  padding-top: 4px;
  color: var(--colorLetra3);
  margin: 0;
  overflow: hidden;
}

.price {
  float: left;
  padding-left: 10px;
  display: block;
  width: 100%;
  color: var(--colorLetra2);
  font-weight: 650;
}

.info {
  padding-left: 10px;
  color: var(--colorLetra1);
}

.img {
  overflow: hidden;
  margin: 0;
}

.img img {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  transition-duration: 0.8s;
}

/* efecto aumento de la imagen */
.card:hover .img img {
  transform: scale(1.1);
  transition-duration: 0.8s;
  border-radius: 12px;
}
