<div class="menu buscarActive">
  <!-- [ngClass]="{'buscarActive': isSearchActive}" -->
  <div class="categorias">
    <ul class="categorias-ul">
      <li *ngFor="let category of categories">
        <a [routerLink]="['/home/category', category]">
          {{category}}
        </a>
      </li>
    </ul>
  </div>

  <app-search (isSearchActive)="changeClass($event)"></app-search>


  <div class="carrito">
    <a routerLink="/cart" class="btn-carrito">
      <img src="../../../assets/svg/bag-handle-outline.svg" alt="">

      <!-- <ion-icon name="bag-handle-outline"></ion-icon> -->
      <span class="badge " [ngClass]="{'oculto': !articlesNumber}">{{articlesNumber}}</span>
    </a>
  </div>
</div>

<!--           **************************************         -->
<!--           **************************************         -->
<!--           ************   SECCIÓN  **************         -->
<!--           **************************************         -->
<!--           **************************************         -->

<div class="menuDesplegable">
  <div class="desplegarBoton">
    <img src="../../../assets/svg/ellipsis-horizontal-outline.svg" alt="">
    <!-- <ion-icon name="ellipsis-horizontal-outline"></ion-icon> -->
  </div>
  <div class="menuDesplegado oculto">
    <div class="categoriasDesplegable">
      <ul class="categorias-ul"></ul>
      <!-- TODO: lista de categorías -->
    </div>
    <div class="buscarDesplegable">
      <input type="text" class="input" placeholder="Find your next purchase..." />
    </div>
    <div class="carritoDesplegable">
      <a href="../html/carrito.html" class="btn-carritoDesplegable">
        <!-- <ion-icon name="bag-handle-outline"></ion-icon> -->
        <span class="badgeDesplegable oculto"></span>
      </a>
    </div>
  </div>
</div>
