
.grid-area {
  background-color: var(--colorFondoPrincipal);
  display: grid;
  min-height: 70vh;
  grid-gap: 1vw;
  grid-template-columns: 2fr 8fr;
  grid-template-areas: "aside main main";
}


/*********---- Media Queries ------ **********/

@media (max-width: 400px) {
  .grid-area {
    grid-template-columns: 1fr;
    grid-template-areas: "aside";
  }

  .main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
