
<div class="grid-area">

  <div class="lista">
    <div class="encabezado">
      <h2>Productos en tu cesta</h2>
      <p id="totalProductosDom"></p>
    </div>

    <div class="relacion-productos">
      <div class="producto" *ngFor="let item of cart" >
        <div class="imagen-producto">
          <img
            [src]="item.product.image"
            [alt]="item.product.title"
          />
        </div>

        <div class="info-producto">
          <div class="detalles">
            <div class="name" >{{item.product.title}}</div>
            <div class="info">{{item.product.description}}
            </div>
          </div>
          <div class="numeros">
            <div class="price">{{item.product.price |currency:'EUR'}}</div>
            <input type="number" name="cantidad" id="cantidad" [(ngModel)]="item.quantity" (change)="modifyQuantity()" />
            <p>Total</p>
            <div class="total">{{item.product.price * item.quantity | currency:'EUR'}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="resumen">
    <div class="resumen-productos">
      <h3 class="titulo">Resumen de Pedido</h3>

      <div class="resumen-lista">
        <h4>
          {{totalProducts}} productos
        </h4>
        <h4>
          {{totalNumberOfItems}} unidades
        </h4>

      </div>

      <div class="resumen-final">
        <h3>Total</h3>
        <div class="total-final">{{totalSum | currency: 'EUR'}}</div>
      </div>
    </div>

    <div class="resumen-comprar">
      <button class="comprar-btn" (click)="shopNow()" >Comprar ahora</button>
      <button class="comprar-btn eliminar" (click)="deleteAll()" >Eliminar productos</button>
    </div>
  </div>
</div>
