
.add-carrito {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid var(--colorBoton1);
  background-color: var(--colorBoton2);
  font-family: inherit;
  border-radius: 2px;

}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(10px);
  color: var(--colorLetraBoton);
  font-size: 1.1rem;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--colorBoton1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: var(--colorLetraBoton);
}

.button:hover {
  background: var(--colorBoton1);
  box-shadow: 2px 3px 4px 5px rgba(252,131,131, 0.3);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: var(--colorBoton2);
}

.button:active {
  border: 1px solid var(--colorBoton2);
}
