<div class="contenedor">

  <div class="form" *ngIf="!user; else elseTemplate">

    <form (ngSubmit)="login()" autocomplete="off" [formGroup]="loginForm" id="loginForm">

      <input type="text" name="username" formControlName="username" placeholder="Introduce username"
        [ngClass]="{'invalid': invalidField('username')}" />


      <input type="password" name="password" formControlName="password" placeholder="Introduce password"
        [ngClass]="{'invalid': invalidField('password')}" />

      <button type="submit">Send</button>

      <ul class="validations">
        <li *ngIf="invalidField('username')">Username required</li>
        <li *ngIf="invalidField('password')">Password required</li>
      </ul>
    </form>
  </div>

  <ng-template #elseTemplate>
    <div class="leaving">
      <h3>Are you leaving, {{user}}?</h3>
      <button class="logout">log out</button>
    </div>
  </ng-template>
</div>
