.contenedor {
  background-color: var(--colorFondoPrincipal);

}

.form {
  padding-top: 5rem;
  height: 74vh;
}

.form form {
  min-width: 200px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form label {
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: var(--colorLetra1);
}

.form input {
  margin: 1rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1.1rem;
}

.form button {
  margin: 2rem;
  padding: 0.5rem;
  font-family: inherit;
}

.validations {
  align-self: center;
}

.invalid {
  border: 2px solid red;
}

.leaving {
  height: 74vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leaving h3 {
  margin: 1vh;
}

.logout {
  margin: 1rem auto;
  width: 180px;
  height: 50px;
  background-color: var(--colorBadge);
  border: none;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}

.logout:hover {
  letter-spacing: 2px;
  background: var(--color1);
}

.logout:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

