<div class="contenedor">
  <ng-container *ngIf="currentProduct; else elseTemplate">
    <div class="producto-card">

      <div class="producto-img">
        <img class="producto-imagen" [src]="currentProduct.image" [alt]="currentProduct.description" />
      </div>

      <div class="producto-info">
        <h2 id="nombre">{{currentProduct.title}}</h2>
        <p id="categoria">{{currentProduct.category}}</p>
        <p id="precio">{{currentProduct.price | currency: 'EUR'}}</p>
        <p id="descripcion">{{currentProduct.description}}</p>
        <p id="rating">{{currentProduct.rating.rate}}⭐/{{currentProduct.rating.count}}👥</p>

        <app-add-to-cart-button (addedProduct)="addProduct()" ></app-add-to-cart-button>

      </div>

    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <h2 class="waiting" >Waiting...</h2>
  </ng-template>



</div>
