/*** Zona Lateral - Aside ***/

.lateral {
  align-self: flex-start;
  position: sticky;
  top: 0;
  min-width: 150px;
  grid-area: aside;
  height: 90vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-right: 1px solid var(--color4);
}

.lateral h5{
  margin: 10px;
}

.lateral .item-lateral {
  padding-bottom: 0.5rem;
  margin: 0.5rem auto;
  width: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: all .3s ease;
}

.item-lateral:hover {
  scale: 1.1;
}

.lateral .item-lateral:not(:last-of-type)  {
  border-bottom: 1px solid var(--color3);
}

.lateral .item-lateral img {
  overflow: hidden;
}

.lateral .item-lateral img {
  width: 100%;
  height: auto;
}


@media (max-width: 400px) {
  .lateral {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 17vh;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    background: var(--colorFondo1);
  }

  .lateral .item-lateral {
    flex: 0 0 auto;
    width: auto;
    margin: 2% 5%;
    height: 15vh;
  }

  .lateral .item-lateral img {
    height: 100%;
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

}
