.buscar {
  display: flex;
  flex: 1;
  position: relative;
  height: 100%;
  display: flex;
  transition: all 0.5s ease;
}
.buscar:hover .btn-buscar svg {
  rotate: -20deg;
}

.buscar .input {
  border: none;
  font-size: 1rem;
  padding: 15px;
  height: 80%;
  width: 50px;
  align-self: center;
  border-radius: 5px;
  transform: 0.3s ease;
  transition: width 0.3s ease;
  background-color: transparent;
  color: var(--colorLetraBuscar);
}
.buscar .input::placeholder {
  color: transparent;
}
.buscar .input:focus {
  outline: none;
}

.btn-buscar {

  background-color: var(--colorFondo3);
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-buscar svg {
  transition: rotate 0.3s ease;
  height: 70%;
  width: 70%;
  color: var(--colorLetra1);
}

.buscar.buscarActive .btn-buscar {
  cursor: pointer;
  position: relative;
  top: 0;
  right: 0;
  width: 10%;
  transform: 0.3s ease;
}
.buscar.buscarActive .input {
  width: 90%;
  background-color: var(--colorFondoBuscar);

}
.buscar.buscarActive .input::placeholder {
  border: 0;
  color: var(--colorLetra1);
  font-style: italic;
}














@media (max-width: 700px) {

  .btn-buscar img {
    padding: 0.5rem;
  }

  .buscar.active .input {
    width: 80%;
  }

  .menu.buscarActive .categorias {
    flex: 4;
  }

  .menu.buscarActive .buscar {
    flex: 5;
  }
}

@media (max-width: 630px) {

  .buscarDesplegable {
    width: 70%;
    align-self: center;
    display: flex;
    justify-content: center;
  }

  .buscarDesplegable input {
    width: 100%;
    border: none;
    font-size: 0.8rem;
    text-align: center;
    margin: 0.3rem;
    padding: 0.1rem;
    border-radius: 5px;
    background-color: var(--colorFondoBuscar);
    color: var(--colorLetraBuscar);
  }

  .buscarDesplegable input:focus {
    outline: none;
  }

  .buscarDesplegable input::placeholder {
    border: 0;
    font-size: 0.7rem;
    text-align: center;
    color: var(--colorLetra2);
    font-style: italic;
  }
}
/* TODO: arreglar visibilidad placeholder */
