/** Tipografías **/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+NKo+Unjoined');

/** Variables  **/

:root {
  --color1: #6096B4;
  --color2: #93BFCF;
  --color3: #BDCDD6;
  --color4: #EEE9DA;
  --color5: #fafbfb;

  --colorOscuro1: #040D12;
  --colorOscuro2: #183D3D;
  --colorOscuro3: #5C8374;
  --colorOscuro4: #93B1A6;

  --colorFondoPrincipal: var(--color5);
  --colorFondo1: var(--color5);
  --colorFondo2: var(--color4);

  --colorBadge: #fc8383;

  --colorFondoBtnArriba: var(--color2);
  --colorFondoFooter: var(--color1);

  --colorLetraBuscar: var(--colorOscuro1);
  --colorFondoBuscar: var(--color3);

  --colorLetra1: var(--colorOscuro1);
  --colorLetra2: var(--colorOscuro2);

  --colorBoton1: var(--colorBadge);
  --colorBoton2: #FFCF96;
  --colorLetraBoton: var(--colorLetra2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode {
  --colorOscuro1: #6096B4;
  --colorOscuro2: #93BFCF;
  --colorOscuro3: #BDCDD6;
  --colorOscuro4: #EEE9DA;
  --colorOscuro4: #fafbfb;

  --color1: #040D12;
  --color2: #183D3D;
  --color3: #5C8374;
  --color4: #93B1A6;

  --colorFondoPrincipal: var(--color1);

  --colorFondo1: var(--color1)
  --colorFondo2: var(--color2);

  --colorBadge: #fc8383;
/* TODO: comprobar que se ve bien en modo oscuro el boton arriba */
  --colorFondoBtnArriba: var(--colorOscuro1);
  --colorFondoFooter: var(--color2);

  --colorLetraBuscar: var(--colorOscuro1);
  --colorFondoBuscar: var(--color3);

  --colorLetra1: var(--colorOscuro1);
  --colorLetra2: var(--colorOscuro2);

  --colorBoton1: var(--colorBadge);
  --colorBoton2: #FFCF96;
  --colorLetraBoton: var(--colorLetra1);

}

body {
  font-family: "Noto Sans NKo Unjoined";
  color: var(--colorLetra1);
  background-color: var(--colorFondoPrincipal);

}
